:root {
    --background: #F5F4F6;
    --text: #333;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a, button {
    cursor: pointer;
}

b, p, i, strong, span, button, input {
    font-size: 1rem;
}

body {
    background: var(--background);
    color: var(--text);
}