@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

/* .ps__rail-y {
  opacity: 0.3 !important;
} */